body {
  margin: 0;
  text-align: center;
}
div {
  display: inline-block;
  margin: 20px auto 0 auto;
  position: relative;
}
canvas {
  display: inline-block;
}

.canvas_wrapper {
  text-align: center;
}
.title {
  color: #a02040;
}
.title1 {
  margin-left: 71px;
}
.title2 {
  margin-left: 98px;
}
.title3 {
  margin-left: 162px;
}
